[Desktop Entry]
Type=Application
Name=Advanced-Effects
Comment=Advanced-Effects is a good-looking animation software.
Exec=Advanced-Effects
Icon=Advanced-Effects
Categories=Utility;Qt;
